[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/ananke"]
	path = themes/ananke
  url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
  path = public
  url = git@github.com:julitiux/julitiux.github.io.git
[submodule "python_exercises"]
  path = python_exercises
  url = git@github.com:julitiux/python_exercises.git
