[submodule "public"]
  path = public
  url = git@github.com:julitiux/julitiux.github.io.git
[submodule "code/java"]
	path = code/java
	url = git@github.com:julitiux/spring-mvc.git
[submodule "code/python"]
	path = code/python
	url = git@github.com:julitiux/python_exercises.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
